name: My Target Workflow

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_SESSION_TOKEN:
        required: true
      AWS_REGION:
        required: true
      DB_USERNAME:
        required: true
      DB_PASSWORD:
        required: true
      DB_URL:
        required: true
      MERCADO_API_KEY:
        required: true
      ID_LOJA:
        required: true
      ID_CONTA:
        required: true
      PAT:
        required: true

env:
  TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
  TF_VAR_aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_VAR_aws_token_key: ${{ secrets.AWS_SESSION_TOKEN }}
  TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
  TF_VAR_mysql_url: ${{ secrets.DB_URL }}
  TF_VAR_mysql_username: ${{ secrets.DB_USERNAME}}
  TF_VAR_mysql_password: ${{ secrets.DB_PASSWORD}}
  TF_VAR_mercado_pago_api_key: ${{ secrets.MERCADO_API_KEY }}
  TF_VAR_mercado_pago_id_loja: ${{ secrets.ID_LOJA }}
  TF_VAR_mercado_pago_id_conta: ${{ secrets.ID_CONTA }}

jobs:
  terraform:
    name: "fiap-lanchonete API - Terraform"
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Checkout the repository to the runner
        uses: actions/checkout@v4
        with:
          repository: fiap-9soat/fiap-lanchonete
          token: ${{ secrets.PAT }}
          clean: true

      - name: Setup Terraform with specified version on the runner
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.11.1
          terraform_wrapper: false

      - name: Terraform init
        id: init
        run: terraform init

      - name: Terraform plan
        run: terraform plan -no-color -input=false
        continue-on-error: true

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
